@font-face {
	font-family: Dassie-DEMO;
	src: url(font/Dassie\ DEMO.ttf);    
}

@font-face {
    font-family: MADE-Soul-Maze;
	src: url(font/MADE\ Soulmaze\ PERSONAL\ USE.otf);
}

@font-face{
    font-family: MADE-Soul-Maze-Outline;
	src: url(font/MADE\ Soulmaze\ Outline\ PERSONAL\ USE.otf);
}

@font-face{
    font-family: Calibre;
	src: url(font/calibril.ttf);
}

p a{
    font-family: MADE-Soul-Maze-Outline;
    text-decoration: none;
}
.fonte-made{
    font-family: MADE-Soul-Maze;
}

.color-text{
    color:#5f3232;
}

.linha-vertical {
    margin-top: 10px;
    height: 20px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: white;
  }

.items{
    margin-right: 100px;
}

.menu{
    font-family: Dassie-DEMO;
    font-weight:bold;
    margin-left: 35px;
    font-size: min(37px, 7vw);
    color: white;
    padding-top: 0;
}

.menu-fonte{
    font-family: Calibre;
    font-weight:600;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

.sub-menu{
    font-family: Calibre;
    font-weight:400;
    font-size: 17px;
}

/*RODAPÉ*/

.footer-text{
    font-family: MADE-Soul-Maze;
    font-weight: 900;
    margin: 0;
}

.margem-footer{
    padding-top: 70px;
    padding-bottom: 250px;
}

.rodape{
    font-family: Calibre;
    font-weight:400;
    font-size: 22px;
}

/*TESTE*/


/*
* {
    box-sizing: border-box;
  }

  body {
    overflow: scroll;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
*/


  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


/*
  nav > div > div > ul {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }
*/

  nav .submenu {
    display: none;
  }

  nav > div > div > ul > li {
    position: relative;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

  nav > div > div > ul > li > .submenu {
    position:absolute;
    top: 57px;
    left: -970px;
    width: 1430px;
    height: auto;
    padding: 15px 30px;
    z-index: 2;
    background: gray;
  }

  /* ANIMAÇÃO */
  @keyframes example {
    from {height: 0px;}
    to {height: 190px;}
  }

  @keyframes teste {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }

  @keyframes teste1 {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }
  
  nav > div > div > ul > li:hover > .submenu{
    animation-name: example;
    animation-duration: 0.5s;
    display:flex;
  }

  nav > div > div > ul > li:hover strong {
    animation-name: teste;
    animation-duration: 0.5s;
  }

  nav > div > div > ul > li:hover  a{
    animation-name: teste1;
    animation-duration: 0.5s;
  }

  nav > div > div > ul > li > .submenu > .col {
    min-width: 200px;
  }

  nav > div > div > ul > li > .submenu > .col strong {
    font-weight: 700;
    color: black;
    margin: 15px 0 20px 0;
    display: block;
  }

  nav > div > div > ul > li > .submenu > .col a {
    color: #dfdfdf;
    display: block;
    margin: 10px 0;
    font-weight: 400;
  }

  nav > div > div > ul > li > .submenu > .col a:hover {
    color: #fff;
    
  }

 /*
 
  @media all and (max-width: 800px) {
    nav {
      border-radius: 0;
      padding: 30px;
      position: fixed;
      right: -75%;
      top: 0;
      height: 100%;
      width: 70%;
      display: block;
      transition: 1s right;
    }
    nav.active {
      right: 0;
      transition: 1s right;
    }
    nav > ul {
      width: 100%;
    }
    nav > ul > li {
      display: block;
      width: 100%;
      margin-right: 0;
      padding: 0;
      border-radius: 6px;
      margin-bottom: 10px;
    }
    nav > div > div > ul > li > a {
      border-radius: 6px;
      padding: 15px 20px;
      display: block;
      width: 100%;
    }
    nav .links {
      display: none;
    }
 
    nav > div > div > ul > li:hover:not(.active) {
      background: transparent;
    }
    nav > div > div > ul > li:hover:not(.active) > a {
      color: #fff;
    }
    nav > div > div > ul > li:hover:not(.active) .submenu {
      display: none;
    }

    nav > div > div > ul > li.active {
      background: transparent;
    }
    nav > div > div > ul > li.active > a {
      background: #00ffba;
      border-radius: 5px;
    }

    nav > div > div > ul > li > .submenu {
      position: relative;
      top: 0;
      margin: 10px -20px -20px -20px;
      border-radius: 0;
      box-shadow: none;
      flex-wrap: wrap;
    } 
    nav > div > div > ul > li > .submenu .col {
      width: 100%;
      display: block;
      min-width: initial;
    }
    nav > div > div > ul > li > .submenu .col > ul {
      display: none;
    }
    nav > div > div > ul > li > .submenu .col.active > ul {
      display: block;
    }
    nav > div > div > ul > li > .submenu .col strong {
      color: #fff;
      font-weight: 500;
      padding: 0 15px 15px 15px;
      position: relative;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(167,167,167,.2);    
    }
    nav > div > div > ul > li > .submenu > .col strong span {
      display: block;
      position: absolute;
      right: 0;
      top: -14px;
      padding: 16px 10px;
      border-left: 1px solid rgba(167,167,167,.2);
    }
    nav > div > div > ul > li > .submenu .col a {
      padding: 5px 15px;
      font-weight: 400;
    }
    nav > div > div > ul > li > .submenu.pages .col > ul {
      display: block;
    }
  }

  */

 
