/*TESTE CARROSSEL*/

/*
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.logo{
    height: 15vw;
    width: 100%;
    text-align: center;

}

.logo img{
    height: 100%;
}

.carrossel{
    height: 250px;
    width: 80%;
    position: relative;
}

.carrossel .botao-direito,
.carrossel .botao-esquerdo{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: lightgreen;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
}

.carrossel .botao-esquerdo{
    position: absolute;
    left: -50px;
}

.carrossel .botao-direito{
    position: absolute;
    right: -50px;
}

.carrossel-box {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
  }

  .carrossel-box img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  
  }

  .carrossel-box img:hover {
    transform: scale(1.4);
    z-index: 5;
  }
   */


  /*TESTE FADEOUT*/

  .back{

    background-image: url(img/bhypea.jpg.png);
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        height: 703px;
  }

  .fadeout{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) , rgba(0,0,0,0) );
    height: 100px;
  }

  /* The animation code */
@keyframes example {
    from {transform: translate(0px, 0px);}
    to {transform: translate(100px, 50px);}
  }
  
  /* The element to apply the animation to */
  .teste {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
  }

  .teste:hover {
    transform: scale(1.2);
    animation-name: example;
    animation-duration: 4s;
  }